.green-button{
  background-color: rgb(144, 220, 144);
}
.red-button{
  background-color: rgb(215, 97, 97);
}
.text{
  color: black;
}
.hidden{
  color: white;
}
.buttons {
	padding: 5px;
	background-color: white;
}

.color-button {
  margin: 10px;
  padding: 10px;
	border-radius: 5px;
	background-color: #d1c8c5;
}

.hidden-button {
  opacity: 0;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
