td {
    border-style: solid
}
img{
    width: 250px; 
    height: auto;
}
.class-name{
        width: 300px;
        padding-top: 20px;
        text-align: center;
        background-color: rgb(59, 59, 172);
        color: azure;   
}
.p1 {
    color: azure;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;}

.p2.class-name {
    font-size: 24;
  }