.todo-note {
	display: flex;
	justify-content: space-between;
	padding: 1px;
	margin: 10px;
	background-color: #0FF4C6;
	border-radius: 3px;
	width: 35%;
}
.pink {
	background-color: #D68FD6;
}
fieldset {
	width: 35%;
}
