.scores{
    font-size: 18px;
    background-color:hsl(177, 72%, 83%) ;
    color: rgb(52, 52, 57);
    border-collapse: collapse;
}
.scores td{
    padding: 10px;
    border: 1px solid black;
    height: 15px;
    width: 50px;
}