hr {
    border: none;
    background-color: gray; 
    height: 1px; 
    width: 300px;
    }
p {
    font-size: 25;
    margin-top: 5px;
    margin-left: 20px;
    }
.container{
    margin-left: 10px !important;
}