.wrapper {
  height: 500px;
  border: 1px solid gray;
  
}.wrapperGreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2px;
}
.wrapperGreen div {
  margin: 0px;
  width: 100px;
  height: 150px;
  border: 1px solid black;
  background-color: #76ea76;
}
.wrapperRed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.wrapperRed div {
  margin: 0px;
  width: 100px;
  height: 45px;
  border: 1px solid black;
  background-color: #d91212;
  flex-grow: 1;
}
#box7 {
  flex-grow: 2;
}
