.grid{
  border: 2px solid gray;
  padding: 3px;
}

.gridRed{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50px;
}
.gridGreen{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50px;
}
.gridRed div {
  background-color: rgb(255, 47, 47);
  border: 1px solid gray;
}
.gridGreen div {
  background-color: rgb(47, 255, 113);
  border: 1px solid gray;
}
#box6 {
  grid-column: 1/4;
}
#box7 {
   grid-row: 2/5;
}