/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    background-color: blueviolet;
    border-radius: 50px;
    padding-left: 30px ;
    padding-right: 30px;
  }
  .col{
    padding: 50px;
    margin: auto;
    text-align: center;
    color: aliceblue;
  }
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    
  }
  
